/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Lato', sans-serif;
	background-color: gainsboro;
}
.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.mainheader {
	width: 100%;
	margin: 0 auto;
	background-color: white;
}
#logo {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.65rem;
	padding-left: 262px
}

#button {
	float: right;
	clear: both;
	background-color: 
	padding: .5em .5m; 
	border-radius: .2em;
	color: white:
	text-decoration: none;
	font-weight: 100;
}
#posts {
	background-color: white;
	text-decoration: none;
	font-size: 1.05rem;
	border-radius: .5em;
	padding-left: 4em;
	margin-top: 4em;
	padding-top: 2em;
	padding-bottom: 3em;
}
		

